body {
  background: rgb(255,98,0);
  background: radial-gradient(circle, rgba(255,98,0,1) 0%, rgba(0,255,231,1) 100%);
}

h2 {
color: #00ffea;
}

li button {
  background-color: #00ffea; 
  color: rgb(255, 94, 0);
  border-radius: 5px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 5px 5px 34px 5px rgba(0,0,0,0.25);
  margin-left: 18em;
}

form button {
  background-color: #00ffea; 
  color: rgb(255, 94, 0);
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 5px 5px 34px 5px rgba(0,0,0,0.25);
}

input {
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 5px 5px 34px 5px rgba(0,0,0,0.25);
  border-radius: 10px;
  padding: 15px 32px;
  border: solid, black, 1px;
  margin-right: 3em;
  margin-top: 2em;
  background-color: rgb(165, 165, 165);
  color: white;
}

div {
  text-align: center;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.innerHtml{
  width: 50%;
}




